<html>

<head>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="referrer" content="no-referrer">
<title>免费视频在线观看</title>
<link rel="icon" sizes="any" mask="" href="https://asnit.top/sitetoplogo.png">
<script src="html5media.min.js"></script>
<script src="../static/player.js"></script>
</head>
<!--
<center>
<div class="warning">
        {% for message in get_flashed_messages() %}
			<strong>Warning!</strong> {{ message }}
        {% endfor %}
    </div>
</center><br>
-->

<body bgcolor="#E6E6FA"><center>
    <div>
    <iframe border="0" id="content" src="https://www.ckmov.com/?url=https://hls.freeok.vip/m3u8.php?path=d905d959d0eef2e069a3864e958cd06c-20221006.m3u8" frameborder="0" height="1000" width="100%"></iframe>
    </div>
</body></center>
</html>